.header
  .header__right-btns
    = link_to new_appeal_path, id: "new-appeal-btn" do
      %i.fa.fa-plus.fa-lg
        %span アピールを作る
    = link_to user_path(current_user), class: "mypage-btn" do
      %i.fa.fa-user-o.fa-lg
        %span マイページ
    / = link_to appeals_path, class: "mypage-btn" do
    /   %i.fa.fa-reply.fa-lg
    /     %span トップへ戻る

