.header
  .header__right-btns
    = link_to new_appeal_path, class: "header-btn" do
      %i.fa.fa-paper-plane.fa-lg
        %span レポートを作る
    = link_to appeals_path, class: "header-btn" do
      %i.fa.fa-reply.fa-lg
        %span トップへ戻る
    = link_to user_path(current_user), class: "mypage-btn" do
      .mypage-btn__user-thum{style: "background-image: url(#{current_user.main_image})"}
      %span マイページ

