.top
  .top__hide-content
  .top__center-content
    .top__center-content__message Let's meetup Japanese in foreign country
    .top__center-content__session-btn-left
      .container
        = link_to "Sign in", new_user_session_path, class: "button button--border in"
    .top__center-content__session-btn-right
      .container
        = link_to "Sign up", new_user_registration_path, class: "button button--border in"

