.group__dropdown-country
  %select{name: "country_code", id: "country-select-field"}
    %option{value: ""} 国を選んでください
    %option{value: "us"}アメリカ
    %option{value: "hw"}ハワイ
    %option{value: "de"}ドイツ
    %option{value: "fr"}フランス
    %option{value: "it"}イタリア
    %option{value: "gb"}イギリス
    %option{value: "es"}スペイン
    %option{value: "in"}インド
    %option{value: "sg"}シンガポール
    %option{value: "au"}オーストラリア
    %option{value: "nl"}オランダ
    %option{value: "ca"}カナダ
    %option{value: "gr"}ギリシャ
    %option{value: "ch"}スイス
    %option{value: "th"}タイ
    %option{value: "tw"}台湾
    %option{value: "cn"}中国
    %option{value: "kr"}韓国
    %pption{value: "ph"}フィリピン
    %option{value: "br"}ブラジル
    %option{value: "ru"}ロシア
    %option{value: "mx"}メキシコ
    %option{value: "pl"}ポーランド
    %option{value: "be"}ベルギー
    %option{value: "pt"}ポルトガル
    %option{value: "ie"}アイルランド
    %option{value: "cz"}チェコ
    %option{value: "otherwise"}その他
