.group__dropdown-region{id: "region-select-field"}
  %select{name: "region-code", class: "region-select-field active", id: "initial-state"}
    %option{value: ""} ---

  %select{name: "region_code", class: "region-select-field", id: "us", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ニューヨーク"}ニューヨーク
    %option{value: "ボストン"}ボストン
    %option{value: "シカゴ"}シカゴ
    %option{value: "マイアミ"}マイアミ
    %option{value: "シアトル"}シアトル
    %option{value: "サンフランシスコ"}サンフランシスコ
    %option{value: "ラスベガス"}ラスベガス
    %option{value: "ロサンゼルス"}ロサンゼルス
    %option{value: "サンディエゴ"}サンディエゴ
    %option{value: "ヒューストン"}ヒューストン
    %option{value: "フィラデルフィア"}フィラデルフィア
    %option{value: "フェニックス"}フェニックス
    %option{value: "ダラス"}ダラス
    %option{value: "ワシントンDC"}ワシントンDC
    %option{value: "ミルウォーキー"}ミルウォーキー
    %option{value: "オクラホマシティー"}オクラホマシティー
    %option{value: "デトロイト"}デトロイト

  %select{name: "region_code", class: "region-select-field", id: "de", disabled: ""}
    %option{value: ""}地域を選んでください
    %option{value: "ベルリン"}ベルリン
    %option{value: "ミュンヘン"}ミュンヘン
    %option{value: "シュトゥットガルト"}シュトゥットガルト
    %option{value: "フランクフルト"}フランクフルト
    %option{value: "ハンブルグ"}ハンブルグ
    %option{value: "ドレスデン"}ドレスデン
    %option{value: "サルツブルグ"}サルツブルグ
    %option{value: "チューリッヒ"}チューリッヒ
    %option{value: "ハノーファー"}ハノーファー
    %option{value: "ブレーメン"}ブレーメン
    %option{value: "ケルン"}ケルン

  %select{name: "region_code", class: "region-select-field", id: "fr", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "パリ"}パリ
    %option{value: "ナント"}ナント
    %option{value: "リヨン"}リヨン
    %option{value: "ニース"}ニース
    %option{value: "マルセイユ"}マルセイユ
    %option{value: "ボルドー"}ボルドー
    %option{value: "トゥールーズ"}トゥールーズ
    %option{value: "ナンシー"}ナンシー
    %option{value: "モンベリエ"}モンベリエ
    %option{value: "オルレアン"}オルレアン
    %option{value: "ブレスト"}ブレスト

  %select{name: "region_code", class: "region-select-field", id: "it", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ローマ"}ローマ
    %option{value: "ミラノ"}ミラノ
    %option{value: "ナポリ"}ナポリ
    %option{value: "トリノ"}トリノ
    %option{value: "パレルモ"}パレルモ
    %option{value: "ジェノバ"}ジェノバ
    %option{value: "ボローニャ"}ボローニャ
    %option{value: "フィレンツェ"}フィレンツェ
    %option{value: "モンベリエ"}モンベリエ
    %option{value: "バーリ"}バーリ
    %option{value: "カターニァ"}カターニァ
    %option{value: "ベネツィア"}ベネツィア

  %select{name: "region_code", class: "region-select-field", id: "kr", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ソウル"}ソウル
    %option{value: "釜山"}釜山
    %option{value: "大邱"}大邱
    %option{value: "大田"}大田
    %option{value: "光州"}光州
    %option{value: "蔚山"}蔚山
    %option{value: "水原"}水原
    %option{value: "城南"}城南
    %option{value: "高陽"}高陽
    %option{value: "仁川"}仁川

  %select{name: "region_code", class: "region-select-field", id: "gb", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ロンドン"}ロンドン
    %option{value: "バーミンガム"}バーミンガム
    %option{value: "マンチェスター"}マンチェスター
    %option{value: "エジンバラ"}エジンバラ
    %option{value: "グラスコー"}グラスコー
    %option{value: "リバプール"}リバプール
    %option{value: "リーズ"}リーズ
    %option{value: "シェフィールド"}シェフィールド
    %option{value: "ブリストル"}ブリストル
    %option{value: "レスター"}レスター


  %select{name: "region_code", class: "region-select-field", id: "es", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "マドリー"}マドリー
    %option{value: "バルセロナ"}バルセロナ
    %option{value: "バレンシア"}バレンシア
    %option{value: "グラナダ"}グラナダ
    %option{value: "セビーリャ"}セビーリャ
    %option{value: "ビルバオ"}ビルバオ
    %option{value: "サンティアゴコンポステーラ"}サンティアゴコンポステーラ
    %option{value: "トレド"}トレド
    %option{value: "コルドバ"}コルドバ
    %option{value: "サンタンデール"}サンタンデール


  %select{name: "region_code", class: "region-select-field", id: "in", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ゴア"}ゴア
    %option{value: "ムンバイ"}ムンバイ
    %option{value: "バンガロール"}バンガロール
    %option{value: "コルカタ"}コルカタ
    %option{value: "ニューデリー"}ニューデリー
    %option{value: "バラナシ"}バラナシ

  %select{name: "region_code", class: "region-select-field", id: "au", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "シドニー"}シドニー
    %option{value: "ケアンズ"}ケアンズ
    %option{value: "ハミルトン島"}ハミルトン島
    %option{value: "ブリスベン"}ブリスベン
    %option{value: "ゴールドコースト"}ゴールドコースト
    %option{value: "メルボルン"}メルボルン
    %option{value: "バース"}バース
    %option{value: "キャンベラ"}キャンベラ

  %select{name: "region_code", class: "region-select-field", id: "nl", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "アムステルダム"}アムステルダム
    %option{value: "ロッテルダム"}ロッテルダム
    %option{value: "ハーグ"}ハーグ
    %option{value: "ユトレヒト"}ユトレヒト
    %option{value: "アイントホーフェン"}アイントホーフェン
    %option{value: "ティルブルフ"}ティルブルフ
    %option{value: "アルメレ"}アルメレ

  %select{name: "region_code", class: "region-select-field", id: "ca", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "バンクーバー"}バンクーバー
    %option{value: "ビクトリア"}ビクトリア
    %option{value: "カルガリー"}カルガリー
    %option{value: "オタワ"}オタワ
    %option{value: "トロント"}トロント
    %option{value: "ケベック"}ケベック
    %option{value: "モントリオール"}モントリオール
    %option{value: "ミシサガ"}ミシサガ
    %option{value: "ウィニペグ"}ウィニペグ
    %option{value: "ハミルトン"}ハミルトン
    %option{value: "ケベック・シティ"}ケベック・シティ

  %select{name: "region_code", class: "region-select-field", id: "gr", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "アテネ"}アテネ
    %option{value: "テッサロニキ"}テッサロニキ
    %option{value: "パトラ"}パトラ
    %option{value: "イラクリオン"}イラクリオン
    %option{value: "ラリッサ"}ラリッサ
    %option{value: "ヴォロス"}ヴォロス
    %option{value: "ロードス"}ロードス

  %select{name: "region_code", class: "region-select-field", id: "ch", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "チューリッヒ"}チューリッヒ
    %option{value: "ジュネーヴ"}ジュネーヴ
    %option{value: "バーゼル"}バーゼル
    %option{value: "ローザンヌ"}ローザンヌ
    %option{value: "ベルン"}ベルン
    %option{value: "ヴィンタートゥール"}ヴィンタートゥール
    %option{value: "ルツェルン"}ルツェルン

  %select{name: "region_code", class: "region-select-field", id: "th", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "バンコク"}バンコク
    %option{value: "ノンタブリー"}ノンタブリー
    %option{value: "パーク・クレット"}パーク・クレット
    %option{value: "ハートヤイ"}ハートヤイ
    %option{value: "ウドーンターニー"}ウドーンターニー
    %option{value: "チェンマイ"}チェンマイ
    %option{value: "ナコーンラーチャシーマー"}ナコーンラーチャシーマー
    %option{value: "スラーターニー"}スラーターニー

  %select{name: "region_code", class: "region-select-field", id: "tw", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "台北"}台北
    %option{value: "高雄"}高雄
    %option{value: "台中"}台中
    %option{value: "台南"}台南
    %option{value: "板橋"}板橋
    %option{value: "中和"}中和
    %option{value: "桃園"}桃園
    %option{value: "新竹"}新竹
    %option{value: "新荘"}新荘
    %option{value: "基隆"}基隆
    %option{value: "三重"}三重

  %select{name: "region_code", class: "region-select-field", id: "cn", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "北京"}北京
    %option{value: "上海"}上海
    %option{value: "天津"}天津
    %option{value: "広州"}広州
    %option{value: "深セン"}深セン
    %option{value: "武漢"}武漢
    %option{value: "重慶"}重慶
    %option{value: "南京"}南京
    %option{value: "香港"}香港
    %option{value: "西安"}西安

  %select{name: "region_code", class: "region-select-field", id: "ph", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "マニラ"}マニラ
    %option{value: "セブ"}セブ
    %option{value: "ボホール"}ボホール
    %option{value: "タガイタイ"}タガイタイ
    %option{value: "ボラカイ"}ボラカイ
    %option{value: "バラワン"}バラワン
    %option{value: "タバオシティー"}タバオシティー

  %select{name: "region_code", class: "region-select-field", id: "br", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "サンパウロ"}サンパウロ
    %option{value: "リオデャネイロ"}リオデャネイロ
    %option{value: "サルヴァドール"}サルヴァドール
    %option{value: "ブラジリア"}ブラジリア
    %option{value: "フォルタレザ"}フォルタレザ
    %option{value: "ベロ・オリゾンテ"}ベロ・オリゾンテ
    %option{value: "クリチバ"}クリチバ
    %option{value: "マナウス"}マナウス
    %option{value: "レシフェ"}レシフェ
    %option{value: "ポルト・アレグレ"}ポルト・アレグレ

  %select{name: "region_code", class: "region-select-field", id: "ru", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "モスクワ"}モスクワ
    %option{value: "サンクトペテルブルク"}サンクトペテルブルク
    %option{value: "ノヴォシビルスク"}ノヴォシビルスク
    %option{value: "ニジニ・ノヴゴロド"}ニジニ・ノヴゴロド
    %option{value: "エカテリンブルク"}エカテリンブルク
    %option{value: "サマーラ"}サマーラ
    %option{value: "オムスク"}オムスク
    %option{value: "カザン"}カザン
    %option{value: "チェリャビンスク"}チェリャビンスク
    %option{value: "ロストフ・ナ・ドヌ"}ロストフ・ナ・ドヌ

  %select{name: "region_code", class: "region-select-field", id: "mx", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "メキシコシティー"}メキシコシティー
    %option{value: "グアナファト"}グアナファト
    %option{value: "グアダラハラ"}グアダラハラ
    %option{value: "メリダ"}メリダ
    %option{value: "カンクン"}カンクン
    %option{value: "オアハカ"}オアハカ
    %option{value: "アカブルコ"}アカブルコ
    %option{value: "ロスカボス"}ロスカボス
    %option{value: "ティファナ"}ティファナ

  %select{name: "region_code", class: "region-select-field", id: "hw", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ハワイ島"}ハワイ島
    %option{value: "マウイ島"}マウイ島
    %option{value: "モロカイ島"}モロカイ島
    %option{value: "オアフ島"}オアフ島
    %option{value: "ホノルル"}ホノルル
    %option{value: "カウアイ島"}カウアイ島
    %option{value: "ラナイ島"}ラナイ島
    %option{value: "カフォオラウェ島"}カフォオラウェ島

  %select{name: "region_code", class: "region-select-field", id: "pl", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ワルシャワ"}ワルシャワ
    %option{value: "クラクフ"}クラクフ
    %option{value: "ウッチ"}ウッチ
    %option{value: "ヴロツワフ"}ヴロツワフ
    %option{value: "ポズナン"}ポズナン
    %option{value: "グタニスク"}グダニスク
    %option{value: "シュチェチン"}シュチェチン
    %option{value: "ブィドゴシュチュ"}ブィドゴシュチュ
    %option{value: "ルブリン"}ルブリン
    %option{value: "カトヴィツェ"}カトヴィツェ

  %select{name: "region_code", class: "region-select-field", id: "be", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "アントウェルペン"}アントウェルペン
    %option{value: "ヘント"}ヘント
    %option{value: "シャルルロワ"}シャルルロワ
    %option{value: "リエージュ"}リエージュ
    %option{value: "ブリュッセル"}ブリュッセル
    %option{value: "ブルッヘ"}ブルッヘ
    %option{value: "スカールベーク"}スカールベーク
    %option{value: "ナミュール"}ナミュール
    %option{value: "アンデルレヒト"}アンデルレヒト
    %option{value: "ルーヴェン"}ルーヴェン

  %select{name: "region_code", class: "region-select-field", id: "pt", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "リスボン"}リスボン
    %option{value: "ポルト"}ポルト
    %option{value: "アマドーラ"}アマドーラ
    %option{value: "ローレ"}ローレ
    %option{value: "ブラガ"}ブラガ
    %option{value: "セトゥーバル"}セトゥーバル
    %option{value: "コインブラ"}コインブラ
    %option{value: "ケルス"}ケルス
    %option{value: "アグアルヴァ＝カセン"}アグアルヴァ＝カセン
    %option{value: "フンシャル"}フンシャル

  %select{name: "region_code", class: "region-select-field", id: "ie", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "ダブリン"}ダブリン
    %option{value: "コーク"}コーク
    %option{value: "ゴールウェイ"}ゴールウェイ
    %option{value: "リムリック"}リムリック
    %option{value: "ウォーターフォード"}ウォーターフォード
    %option{value: "ダンドーク"}ダンドーク
    %option{value: "ドロヘダ"}ドロヘダ
    %option{value: "ナヴァン"}ナヴァン
    %option{value: "ブレイ"}ブレイ
    %option{value: "ナース"}ナース

  %select{name: "region_code", class: "region-select-field", id: "cz", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "プラハ"}プラハ
    %option{value: "ブルノ"}ブルノ
    %option{value: "プルゼニ"}プルゼニ
    %option{value: "リベレツ"}リベレツ
    %option{value: "オロモウツ"}オロモウツ
    %option{value: "ウースチー・ナド・ラベム"}ウースチー・ナド・ラベム
    %option{value: "フラデツ・クラーロヴェー"}フラデツ・クラーロヴェー
    %option{value: "チェスケー・ブジェヨヴィツェ"}チェスケー・ブジェヨヴィツェ
    %option{value: "パルドゥビツェ"}パルドゥビツェ
    %option{value: "ハヴィルショフ"}ハヴィルショフ

  %select{name: "region_code", class: "region-select-field", id: "sg", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "シェントン・ウェイ"}シェントン・ウェイ
    %option{value: "クラーク・キー"}クラーク・キー
    %option{value: "オーチャード・ロード"}オーチャード・ロード
    %option{value: "シンガポールリバー"}シンガポールリバー
    %option{value: "マスカットストリート"}マスカットストリート
    %option{value: "セントーサ島"}セントーサ島
    %option{value: "シティ・ホール"}シティ・ホール
    %option{value: "ギス＆アラブ・ストリート"}ギス＆アラブ・ストリート
    %option{value: "マリーナ・エリア"}マリーナ・エリア
    %option{value: "シンガポール北部・中部"}シンガポール北部・中部






