.group__dropdown-region{id: "region-select-field"}
  %select{name: "region-code", class: "region-select-field active", id: "no"}
    %option{value: ""} ---

  %select{name: "region_code", class: "region-select-field", id: "us", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ニューヨーク
    %option{value: "2"}ボストン
    %option{value: "3"}シカゴ
    %option{value: "4"}マイアミ
    %option{value: "5"}シアトル
    %option{value: "6"}サンフランシスコ
    %option{value: "7"}ラスベガス
    %option{value: "8"}ロサンゼルス
    %option{value: "9"}サンディエゴ
    %option{value: "10"}ヒューストン
    %option{value: "11"}フィラデルフィア
    %option{value: "12"}フェニックス
    %option{value: "13"}ダラス
    %option{value: "14"}ワシントンDC
    %option{value: "15"}ミルウォーキー
    %option{value: "16"}オクラホマシティー
    %option{value: "17"}デトロイト

  %select{name: "region_code", class: "region-select-field", id: "de", disabled: ""}
    %option{value: ""}地域を選んでください
    %option{value: "1"}ベルリン
    %option{value: "2"}ミュンヘン
    %option{value: "3"}シュトゥットガルト
    %option{value: "4"}フランクフルト
    %option{value: "5"}ハンブルグ
    %option{value: "6"}ドレスデン
    %option{value: "7"}サルツブルグ
    %option{value: "8"}チューリッヒ
    %option{value: "9"}ハノーファー
    %option{value: "10"}ブレーメン
    %option{value: "11"}ケルン

  %select{name: "region_code", class: "region-select-field", id: "fr", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}パリ
    %option{value: "2"}ナント
    %option{value: "3"}リヨン
    %option{value: "4"}ニース
    %option{value: "5"}マルセイユ
    %option{value: "6"}ボルドー
    %option{value: "7"}トゥールーズ
    %option{value: "8"}ナンシー
    %option{value: "9"}モンベリエ
    %option{value: "10"}オルレアン
    %option{value: "11"}ブレスト

  %select{name: "region_code", class: "region-select-field", id: "it", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ローマ
    %option{value: "2"}ミラノ
    %option{value: "3"}ナポリ
    %option{value: "4"}トリノ
    %option{value: "5"}パレルモ
    %option{value: "6"}ジェノバ
    %option{value: "7"}ボローニャ
    %option{value: "8"}フィレンツェ
    %option{value: "9"}モンベリエ
    %option{value: "10"}バーリ
    %option{value: "11"}カターニァ
    %option{value: "12"}ベネツィア

  %select{name: "region_code", class: "region-select-field", id: "kr", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ソウル
    %option{value: "2"}釜山
    %option{value: "3"}大邱
    %option{value: "4"}大田
    %option{value: "5"}光州
    %option{value: "6"}蔚山
    %option{value: "7"}水原
    %option{value: "8"}城南
    %option{value: "9"}高陽
    %option{value: "10"}仁川

  %select{name: "region_code", class: "region-select-field", id: "gb", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ロンドン
    %option{value: "2"}バーミンガム
    %option{value: "3"}マンチェスター
    %option{value: "4"}エジンバラ
    %option{value: "5"}グラスコー
    %option{value: "6"}リバプール
    %option{value: "7"}リーズ
    %option{value: "8"}シェフィールド
    %option{value: "9"}ブリストル
    %option{value: "10"}レスター


  %select{name: "region_code", class: "region-select-field", id: "es", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}マドリー
    %option{value: "2"}バルセロナ
    %option{value: "3"}バレンシア
    %option{value: "4"}グラナダ
    %option{value: "5"}セビーリャ
    %option{value: "6"}ビルバオ
    %option{value: "7"}サンティアゴコンポステーラ
    %option{value: "8"}トレド
    %option{value: "9"}コルドバ
    %option{value: "10"}サンタンデール


  %select{name: "region_code", class: "region-select-field", id: "in", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ゴア
    %option{value: "2"}ムンバイ
    %option{value: "3"}バンガロール
    %option{value: "4"}コルカタ
    %option{value: "5"}ニューデリー
    %option{value: "6"}バラナシ

  %select{name: "region_code", class: "region-select-field", id: "au", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}シドニー
    %option{value: "2"}ケアンズ
    %option{value: "3"}ハミルトン島
    %option{value: "4"}ブリスベン
    %option{value: "5"}ゴールドコースト
    %option{value: "6"}メルボルン
    %option{value: "7"}バース
    %option{value: "8"}キャンベラ

  %select{name: "region_code", class: "region-select-field", id: "nl", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}アムステルダム
    %option{value: "2"}ロッテルダム
    %option{value: "3"}ハーグ
    %option{value: "4"}ユトレヒト
    %option{value: "5"}アイントホーフェン
    %option{value: "6"}ティルブルフ
    %option{value: "7"}アルメレ

  %select{name: "region_code", class: "region-select-field", id: "ca", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}バンクーバー
    %option{value: "2"}ビクトリア
    %option{value: "3"}カルガリー
    %option{value: "4"}オタワ
    %option{value: "5"}トロント
    %option{value: "6"}ケベック
    %option{value: "7"}モントリオール
    %option{value: "8"}ミシサガ
    %option{value: "9"}ウィニペグ
    %option{value: "10"}ハミルトン
    %option{value: "11"}ケベック・シティ

  %select{name: "region_code", class: "region-select-field", id: "gr", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}アテネ
    %option{value: "2"}テッサロニキ
    %option{value: "3"}パトラ
    %option{value: "4"}イラクリオン
    %option{value: "5"}ラリッサ
    %option{value: "6"}ヴォロス
    %option{value: "7"}ロードス

  %select{name: "region_code", class: "region-select-field", id: "ch", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}チューリッヒ
    %option{value: "2"}ジュネーヴ
    %option{value: "3"}バーゼル
    %option{value: "4"}ローザンヌ
    %option{value: "5"}ベルン
    %option{value: "6"}ヴィンタートゥール
    %option{value: "7"}ルツェルン

  %select{name: "region_code", class: "region-select-field", id: "th", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}バンコク
    %option{value: "2"}ノンタブリー
    %option{value: "3"}パーク・クレット
    %option{value: "4"}ハートヤイ
    %option{value: "5"}ウドーンターニー
    %option{value: "6"}チェンマイ
    %option{value: "7"}ナコーンラーチャシーマー
    %option{value: "8"}スラーターニー

  %select{name: "region_code", class: "region-select-field", id: "tw", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}台北
    %option{value: "2"}高雄
    %option{value: "3"}台中
    %option{value: "4"}台南
    %option{value: "5"}板橋
    %option{value: "6"}中和
    %option{value: "7"}桃園
    %option{value: "8"}新竹
    %option{value: "9"}新荘
    %option{value: "10"}基隆
    %option{value: "11"}三重

  %select{name: "region_code", class: "region-select-field", id: "cn", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}北京
    %option{value: "2"}上海
    %option{value: "3"}天津
    %option{value: "4"}広州
    %option{value: "5"}深セン
    %option{value: "6"}武漢
    %option{value: "7"}重慶
    %option{value: "8"}南京
    %option{value: "9"}香港
    %option{value: "10"}西安

  %select{name: "region_code", class: "region-select-field", id: "ph", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}マニラ
    %option{value: "2"}セブ
    %option{value: "3"}ボホール
    %option{value: "4"}タガイタイ
    %option{value: "5"}ボラカイ
    %option{value: "6"}バラワン
    %option{value: "7"}タバオシティー

  %select{name: "region_code", class: "region-select-field", id: "br", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}サンパウロ
    %option{value: "2"}リオデャネイロ
    %option{value: "3"}サルヴァドール
    %option{value: "4"}ブラジリア
    %option{value: "5"}フォルタレザ
    %option{value: "6"}ベロ・オリゾンテ
    %option{value: "7"}クリチバ
    %option{value: "8"}マナウス
    %option{value: "9"}レシフェ
    %option{value: "10"}ポルト・アレグレ

  %select{name: "region_code", class: "region-select-field", id: "ru", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}モスクワ
    %option{value: "2"}サンクトペテルブルク
    %option{value: "3"}ノヴォシビルスク
    %option{value: "4"}ニジニ・ノヴゴロド
    %option{value: "5"}エカテリンブルク
    %option{value: "6"}サマーラ
    %option{value: "7"}オムスク
    %option{value: "8"}カザン
    %option{value: "9"}チェリャビンスク
    %option{value: "10"}ロストフ・ナ・ドヌ

  %select{name: "region_code", class: "region-select-field", id: "mx", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}メキシコシティー
    %option{value: "2"}グアナファト
    %option{value: "3"}グアダラハラ
    %option{value: "4"}メリダ
    %option{value: "5"}カンクン
    %option{value: "6"}オアハカ
    %option{value: "7"}アカブルコ
    %option{value: "8"}ロスカボス
    %option{value: "9"}ティファナ

  %select{name: "region_code", class: "region-select-field", id: "hw", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ハワイ島
    %option{value: "2"}マウイ島
    %option{value: "3"}モロカイ島
    %option{value: "4"}オアフ島
    %option{value: "4"}ホノルル
    %option{value: "6"}カウアイ島
    %option{value: "7"}ラナイ島
    %option{value: "8"}カフォオラウェ島

  %select{name: "region_code", class: "region-select-field", id: "pl", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ワルシャワ
    %option{value: "2"}クラクフ
    %option{value: "3"}ウッチ
    %option{value: "4"}ヴロツワフ
    %option{value: "5"}ポズナン
    %option{value: "6"}グダニスク
    %option{value: "7"}シュチェチン
    %option{value: "8"}ブィドゴシュチュ
    %option{value: "9"}ルブリン
    %option{value: "10"}カトヴィツェ

  %select{name: "region_code", class: "region-select-field", id: "be", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}アントウェルペン
    %option{value: "2"}ヘント
    %option{value: "3"}シャルルロワ
    %option{value: "4"}リエージュ
    %option{value: "5"}ブリュッセル
    %option{value: "6"}ブルッヘ
    %option{value: "7"}スカールベーク
    %option{value: "8"}ナミュール
    %option{value: "9"}アンデルレヒト
    %option{value: "10"}ルーヴェン

  %select{name: "region_code", class: "region-select-field", id: "pt", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}リスボン
    %option{value: "2"}ポルト
    %option{value: "3"}アマドーラ
    %option{value: "4"}ヴロツワフ
    %option{value: "5"}ブラガ
    %option{value: "6"}セトゥーバル
    %option{value: "7"}コインブラ
    %option{value: "8"}ケルス
    %option{value: "9"}アグアルヴァ＝カセン
    %option{value: "10"}フンシャル

  %select{name: "region_code", class: "region-select-field", id: "ie", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}ダブリン
    %option{value: "2"}コーク
    %option{value: "3"}ゴールウェイ
    %option{value: "4"}リムリック
    %option{value: "5"}ウォーターフォード
    %option{value: "6"}ダンドーク
    %option{value: "7"}ドロヘダ
    %option{value: "8"}ナヴァン
    %option{value: "9"}ブレイ
    %option{value: "10"}ナース

  %select{name: "region_code", class: "region-select-field", id: "cz", disabled: ""}
    %option{value: ""} 地域を選んでください
    %option{value: "1"}プラハ
    %option{value: "2"}ブルノ
    %option{value: "3"}プルゼニ
    %option{value: "4"}リベレツ
    %option{value: "5"}オロモウツ
    %option{value: "6"}ウースチー・ナド・ラベム
    %option{value: "7"}フラデツ・クラーロヴェー
    %option{value: "8"}チェスケー・ブジェヨヴィツェ
    %option{value: "9"}パルドゥビツェ
    %option{value: "10"}ハヴィルショフ






