.appeal__dropdown-country
  %select{name: "age", id: "age-select-field", value: @user.age}
    %option{value: ""} 年齢を選んでください
    %option{value: "18歳以下"}18歳以下
    %option{value: "19 ~ 22歳"}19 ~ 22歳
    %option{value: "23 ~ 26歳"}23 ~ 26歳
    %option{value: "27 ~ 30歳"}27 ~ 30歳
    %option{value: "31 ~ 34歳"}31 ~ 34歳
    %option{value: "35 ~ 38歳"}35 ~ 38歳
    %option{value: "39 ~ 42歳"}39 ~ 42歳
    %option{value: "43 ~ 46歳"}43 ~ 46歳
    %option{value: "47 ~ 50歳"}47 ~ 50歳
    %option{value: "51 ~ 54歳"}51 ~ 54歳
    %option{value: "55 ~ 58歳"}55 ~ 58歳
    %option{value: "59 ~ 62歳"}59 ~ 62歳
    %option{value: "63 ~ 66歳"}63 ~ 66歳
    %option{value: "67歳以上"}67歳以上
  %i.fa.fa-angle-down.fa-lg

