.appeal__dropdown-country
  %select{name: "background", id: "background-select-field", value: @user.background}
    %option{value: ""} 学歴を選んでください
    %option{value: "短大/専門学校卒"}短大/専門学校卒
    %option{value: "高校卒"}高校卒
    %option{value: "大学卒"}大学卒
    %option{value: "大学院卒"}大学院卒
    %option{value: "その他"}その他
  %i.fa.fa-angle-down.fa-lg

