.appeal__dropdown-country
  %select{name: "height", id: "height-select-field"}
    %option{value: ""} 身長を選んでください
    %option{value: "155cm以下"}155cm以下
    %option{value: "156cm ~ 160cm"}156cm ~ 160cm
    %option{value: "161cm ~ 165cm"}161cm ~ 165cm
    %option{value: "166cm ~ 170cm"}166cm ~ 170cm
    %option{value: "171cm ~ 175cm"}171cm ~ 175cm
    %option{value: "176cm ~ 180cm"}176cm ~ 180cm
    %option{value: "181cm ~ 185cm"}181cm ~ 185cm
    %option{value: "186cm ~ 190cm"}186cm ~ 190cm
    %option{value: "191cm ~ 195cm"}191cm ~ 195cm
    %option{value: "196cm ~ 2m"}196cm ~ 2m
    %option{value: "2.1m以上"}2.1m以上
  %i.fa.fa-angle-down.fa-lg

