.appeal__dropdown-country
  %select{name: "job", id: "job-select-field"}
    %option{value: ""} 職業を選んでください
    %option{value: "海上保安官"}海上保安官
    %option{value: "海軍"}海軍
    %option{value: "上場企業"}上場企業
    %option{value: "金融"}金融
    %option{value: "公務員"}公務員
    %option{value: "コンサル"}コンサル
    %option{value: "経営者・役員"}経営者・役員
    %option{value: "大手企業"}大手企業
    %option{value: "大手外資"}大手外資
    %option{value: "大手商社"}大手商社
    %option{value: "外資金融"}外資金融
    %option{value: "医師"}医師
    %option{value: "看護師"}看護師
    %option{value: "薬剤師"}薬剤師
    %option{value: "弁護士"}弁護士
    %option{value: "公認会計士"}公認会計士
    %option{value: "パイロット"}パイロット
    %option{value: "客室乗務員"}客室乗務員
    %option{value: "広告"}広告
    %pption{value: "マスコミ"}マスコミ
    %option{value: "教育関連"}教育関連
    %option{value: "IT関連"}IT関連
    %option{value: "食品関連"}食品関連
    %option{value: "旅行関連"}旅行関連
    %option{value: "製薬"}製薬
    %option{value: "保険"}保険
    %option{value: "不動産"}不動産
    %option{value: "建築関連"}建築関連
    %option{value: "通信"}通信
    %pption{value: "流通"}流通
    %option{value: "WEB業界"}WEB業界
    %option{value: "ブライダル"}ブライダル
    %option{value: "クリエイター"}クリエイター
    %option{value: "接客業"}接客業
    %option{value: "受付"}受付
    %option{value: "調理師・栄養士"}調理師・栄養士
    %option{value: "アパレルショップ"}アパレルショップ
    %option{value: "美容関係"}美容関係
    %option{value: "エンターテインメント"}エンターテインメント
    %option{value: "アナウンサー"}アナウンサー
    %pption{value: "芸能・モデル"}芸能・モデル
    %option{value: "イベントコンパニオン"}イベントコンパニオン
    %option{value: "スポーツ選手"}スポーツ選手
    %option{value: "秘書"}秘書
    %option{value: "事務員"}事務員
    %option{value: "福祉・介護"}福祉・介護
    %option{value: "会社員"}会社員
    %option{value: "学生"}学生
    %option{value: "自由業"}自由業
    %option{value: "その他"}その他
  %i.fa.fa-angle-down.fa-lg
