.appeal{id: "top-position"}
  = render 'header', locals: {appeal: @my_appeal}
  .appeal__dropdown
    = render 'country-select'
    = render 'region-select'
  .appeal__contents
    = render @appeals
  %p{id: "page-top"}
    %a{href: "#top-position"} PAGE TOP

