.appeal-new{
  height: 100%;
  width: 100%;
  position: relative;
  &__upper{
    text-align: center;
    margin: 80px 25px 20px 0;
    position: relative;
    .appeal-new-title{
      font-family: 'TsukuARdGothic-Regular';
      font-size: 30px;
      font-weight: bold;
    }
    .fa-paper-plane{
      font-size: 25px;
      position: absolute;
      margin: -31px 0 0 111px;
    }
  }
  &__form{
    background-color: #ffffff;
    font-family: "Osaka";
    margin: 0 auto;
    padding-bottom: 35px;
    width: 640px;
    .form-require{
      color: #fff;
      background-color: #ea352d;
      font-size: 14px;
      padding: .1em .3em;
      border-radius: 3px;
    }
    .error-messages{
      color: #ea352d;
      font-family: 'ヒラギノ明朝 ProN';
    }
    #under-name-field-message{
      padding-top: 4px;
    }
    #under-country-select-message{
      padding-top: 4px;
    }
    &__name-label{
      padding: 30px 10px 0 70px;
    }
    &__name-field{
      padding: 5px 10px 5px 70px;
      .appeal-new__form-name{
        width: 80%;
        font-size: 17px;
        line-height: 25px;
        padding: 10px 12px;
        &::-webkit-input-placeholder {
          color: #5f5f5f;
          opacity: 0.6;
        }
      }
    }
    &__outline-label{
      padding: 25px 10px 0 70px;
    }
    &__outline-field{
      padding: 5px 10px 5px 70px;
      .appeal-new__form-outline{
        width: 80%;
        font-size: 17px;
        padding: 13px 12px;
        &::-webkit-input-placeholder {
         color: #5f5f5f;
         opacity: 0.6;
        }
      }
    }

    &__country-label{
      padding: 25px 10px 0 70px;
    }

    &__country-dropdown{
      padding: 5px 10px 5px 70px;
    }

    &__region-label{
      padding: 25px 10px 0 70px;
    }

    &__region-dropdown{
      padding: 5px 10px 5px 70px;
    }

    &__submit{
      padding-top: 45px ;
      text-align: center;
      @include appeal-new-submit-btn();
    }
    &__cancel{
      text-align: center;
      padding-top: 17px;
      @include appeal-new__form__cancel-btn();
    }
  }
}
