.message__contents__left-part__name-edit{
  font-family: 'Yu Gothic';
  padding: 10px 10px 5px 10px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #191970;
  #name-edit{
    width: 72%;
    padding: 8px;
  }
}
.message__contents__left-part__outline-edit{
  padding: 11px 5px 9px 5px;
  color: #333333;
  text-align: center;
  font-size: 16px;
  #outline-edit{
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
}
.message__contents__left-part__edit-btn-edit{
  padding: 0 0 16px 0;
  text-align: center;
  font-size: 20px;
  color: #1E90FF;
  #submit-edit{
    background-color: transparent;
    color: -webkit-link;
    text-decoration: underline;
    border: solid 2px transparent;
    cursor: pointer;
    cursor: hand;
  }
}

