.appeal{
  height: 100%;
  width: 100%;
  @include header();
  &__dropdown{
    margin-top: 35px;
    text-align: center;
    &-country{
      position: relative;
      display: inline-block;
      @include country-select-field();
    }
    &-region{
      position: relative;
      display: inline-block;
      @include region-select-field();
    }
  }
  &__contents{
    padding-top: 30px;
    height: 80%;
    width: 1000px;
    margin: 0 auto;
    @include appeal-each-content();
  }
  @include back-to-top-btn();
}

