@mixin back-to-top-btn(){
  #page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 90%;
    font-family: 'DIN Alternate';
  }
  #page-top a {
    background: #87CEFA;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
  }
  #page-top a:hover {
    text-decoration: none;
    background: #999;
  }
}

