@mixin group-each-content(){
  .group__each-content{
    height: 300px;
    width: 300px;
    background-size: cover;
    border: solid;
    border-width: thin;
    border-radius: 18px;
    display: inline-block;
    margin: 6px 0 0 6px;
    position: relative;
    transition: .8s;
    opacity: 0;
    &__hide{
      background-color: black;
      height: 100%;
      width: 100%;
      opacity: 0.75;
      display: none;
      cursor: pointer;
      cursor: hand;
      border-radius: 18px;
    }
    &__date{
      position: absolute;
      font-size: 18px;
      color: #ffffff;
      top: 60%;
      left: 5%;
    }
    &__nickname{
      position: absolute;
      top: 60.7%;
      left: 64.5%;
      &-font{
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
        &:hover{
          color: #BDB76B;
          text-decoration: underline;
        }
      }
    }
    &__name{
      position: absolute;
      font-size: 25px;
      color: #ffffff;
      top: 70%;
      left: 5%;
    }
  }
}
