@mixin header() {
  .header {
    position: relative;
    height: 90px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    float: none;
    &__right-btns{
      position: absolute;
      top: 60%;
      left: 72%;
      transform: translate(-50%, -50%);
      text-align: center;
      i {
        color: #008B8B;
        font-size: 1.1em;
        &:hover{
          color: #4169E1;
        }
        span{
          padding: 0 3px 0 3px;
          font-family: 'Osaka';
        }
      }
      #new-appeal-btn{
        text-decoration: none;
      }
      .mypage-btn{
        padding-left: 13px;
        text-decoration: none;
      }
      @include profile-balloon();
    }
  }
}
