@mixin header() {
  .header {
    height: 110px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    &__left-logo{
      float: left;
      height: 100px;
      width: 250px;
      margin: 12px 0 0 370px;
      cursor: pointer;
      cursor: hand;
    }
    &__right-btns{
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      float: right;
      padding: 70px 330px 0 0;
      i{
        color: #008B8B;
        font-size: 1.6em;
        &:hover{
          color: #4169E1;
        }
        span{
          font-size: 19px;
          font-weight: bold;
          padding: 0 3px 0 3px;
          font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
        }
      }
      .header-btn{
        text-decoration: none;
        padding-left: 13px;
      }
      .mypage-btn{
        padding-left: 16.7px;
        text-decoration: none;
        &__user-thum{
          position: absolute;
          top: 61.7%;
          background-size: cover;
          border-radius: 300px;
          height: 2.4em;
          width: 2.4em;
          border: solid 0.2px #87CEEB;
          &:hover{
            border-color: #4169E1;
          }
        }
        span{
          font-size: 19px;
          font-weight: bold;
          padding-left: 47px;
          color: #008B8B;
          font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
          &:hover{
            color: #4169E1;
          }
        }
      }
      @include profile-balloon();
    }
  }
}

