@mixin job-select-field(){
  #job-select-field{
    text-indent: 1.5em;
    font-size: 17px;
    height: 40px;
    width: 290px;
    cursor: pointer;
    cursor: hand;
    background-color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  .fa-angle-down{
    left: 91%;
    top: 28%;
    font-size: 25px;
    position: absolute;
  }
}

