@mixin message-left-part(){
  .message__left-part{
    font-family: 'Osaka';
    background-color: #ffffff;
    border: solid;
    border-width: thin;
    border-color: #C0C0C0;
    position: absolute;
    padding-top: 20px;
    width: 27%;
    top: 13%;
    left: 24%;
    &__user-avatar{
      border: solid;
      border-width: thin;
      border-color: #C0C0C0;
      background-size: cover;
      border-radius: 50px;
      text-align: center;
      margin: 0 auto;
      height: 250px;
      width: 250px;
    }
    &__user-nickname{
      padding: 15px 0 15px 0;
      text-align: center;
      font-size: 20px;
      #user-link{
        color: #1E90FF;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          color: #0099e8;
        }
      }
    }
    &__name{
      padding: 5px 0 0 10px;
      font-size: 25px;
      text-align: center;
      color: #FF6347;
    }
    &__nickname{
      text-align: center;
      font-size:13px;
      padding-top:2px;
      color: #FFA07A;
    }
    &__date{
      padding-top: 4px;
      font-size: 14px;
      font-weight: bold;
      color:  #708090;
      text-align: center;
    }
    &__outline{
      padding: 15px 5px 20px 5px;
      color: #333333;
      text-align: center;
      font-size: 16px;
    }
  }
}
