@mixin profile-part(){
  &-profile{
    font-family: 'Osaka';
    min-height: 460px;
    color: #1E90FF;
    float: right;
    padding: 20px 95px 0 0;
    font-size: 17px;
    width: 40%;
    h1{
      font-size: 18px;
      font-weight: bold;
      color: #788086;
      font-family: 'TsukuARdGothic-Regular';
    }
    hr{
      max-width: 95%;
    }
    &__nickname{
      padding-bottom: 15px;
      p{
        padding-left: 10px;
      }
    }
    &__age{
      padding-bottom: 15px;
      p{
        padding-left: 10px;
      }
    }
    &__height{
      padding-bottom: 15px;
      p{
        padding-left: 10px;
      }
    }
    &__background{
      padding-bottom: 15px;
      p{
        padding-left: 10px;
      }
    }
    &__job{
      padding-bottom: 15px;
      p{
        padding-left: 10px;
      }
    }
    &__introduction{
      padding-bottom: 15px;
      #user-introduction{
        padding-left: 10px;
      }
    }
    &__appeals{
      .each-appeal-link{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          color: #4169E1;
        }
      }
      li{
        padding: 0 0 5px 10px;
        list-style: none;
      }
    }
  }
}
