@mixin profile-part(){
  &-profile{
    font-family: 'Osaka';
    min-height: 460px;
    color: #2980b9;
    float: right;
    padding: 20px 65px 0 0;
    font-size: 22px;
    width: 40%;
    h1{
      font-size: 24px;
      font-weight: bold;
      color: #333;
      font-family: 'TsukuARdGothic-Regular';
    }
    hr{
      max-width: 95%;
    }
    .edit-input-field{
      font-size: 18px;
      line-height: 20px;
      width: 88%;
      padding: 10px 12px;
    }
    .edit-input-textarea{
      font-size: 18px;
      width: 88%;
      padding: 13px 12px;
    }
    &__nickname{
      padding-bottom: 30px;
      p{
        padding-left: 10px;
      }
    }
    &__age{
      padding-bottom: 30px;
      p{
        padding-left: 10px;
      }
    }
    &__job{
      padding-bottom: 30px;
      p{
        padding-left: 10px;
      }
    }
    &__introduction{
      padding-bottom: 30px;
      #user-introduction{
        padding-left: 10px;
      }
    }
    &__appeals{
      .each-appeal-link{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          color: #4169E1;
        }
      }
      li{
        padding: 0 0 5px 10px;
        list-style: none;
      }
    }
  }
}
