@mixin profile-part(){
  &-profile{
    font-family: 'Osaka';
    color: #333;
    position: absolute;
    top: 2%;
    left: 50%;
    // border: solid;
    // border-width: thin;
    // height: 5%;
    width: 50%;
    h1{
      font-size: 20px;
      font-weight: bold;
      color: #333;
      font-family: 'TsukuARdGothic-Regular';
    }
    hr{
      width: 45%;
    }
    .edit-input-field{
      font-size: 17px;
      line-height: 20px;
      width: 80%;
      padding: 10px 12px;
    }
    .edit-input-textarea{
      font-size: 17px;
      width: 80%;
      padding: 13px 12px;
    }
    &__nickname{
      padding-bottom: 30px;
      p{
        font-size: 17px;
        padding-left: 10px;
        color: #0000CD;
      }
    }
    &__age{
      padding-bottom: 30px;
      p{
        font-size: 17px;
        padding-left: 10px;
        color: #0000CD;
      }
    }
    &__job{
      padding-bottom: 30px;
      p{
        font-size: 17px;
        padding-left: 10px;
        color: #0000CD;
      }
    }
    &__introduction{
      padding-bottom: 30px;
      #user-introduction{
        font-size: 17px;
        padding-left: 10px;
        color: #0000CD;
      }
    }
    &__groups{
      li{
        color: #0000CD;
        font-size: 17px;
        padding: 0 0 5px 10px;
        list-style: none;
      }
    }
  }
  &-edit{
    position: absolute;
    font-size: 18px;
    top: 65%;
    left: 16.5%;
    &-btn{
      // width: 40%;
      display: inline-block;
      font-size: 17px;
      background-color: #67c5ff;
      padding: 0.5em 4.0em;
      text-decoration: none;
      color: #ffffff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      cursor: pointer;
      cursor: hand;
    }
  }
  &-sign-out{
    position: absolute;
    font-size: 18px;
    top: 70.2%;
    left: 16.5%;
    &-btn{
      display: inline-block;
      font-size: 17px;
      background-color: #DC143C;
      padding: 0.5em 3.5em;
      text-decoration: none;
      color: #ffffff;
      border: solid 2px #DC143C;
      border-radius: 3px;
      transition: .4s;
      cursor: pointer;
      cursor: hand;
    }
  }
}
