@mixin region-select-field(){
  .region-select-field{
    display: none;
    text-indent: 1.5em;
    height: 35px;
    width: 290px;
    cursor: pointer;
    cursor: hand;
    background-color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  .available{
    display: block;
  }
  .region-angle{
    font-size: 25px;
    position: absolute;
    left: 91%;
    top: 28%;
    display: none;
  }
}

